* {
    box-sizing: border-box;
 }

header {
    width: 100%;
    padding: 30px 4% 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
h1 {
    margin: 0;
}
nav {
    margin: 0 0 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 0 0 15px;
    font-size: 14px;
}

.pageDescription {
    padding: 15px 40px;
}

.filter {
    padding: 15px 40px;
    text-align: center;
}
.filter ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.filter li {
    margin: 12px 8px;
    font-size: 14px;
}
.filter input[type="checkbox"] {
    display: none;
}
.filter input[type="checkbox"] + label {
    border-radius: 20px;
    padding: 4px 10px;
}

.annotation {
    padding: 15px 40px;
    text-align: left;
}
.history {
    padding: 15px 0;
    text-align: left;
}
.history .col {
    width: 150px;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.list table tr{
    border-bottom: 1px solid #cccccc;
} 
table thead tr{
    background-color: #eeeeee;
}
table thead th{
    cursor: pointer;
}
.list table tbody tr:hover{
    background-color: #d4f0fd;
}
table th,
table td {
    text-align: center;
    padding: 20px;
    text-align: left;
}
table td.color {
    position: relative;
    padding-left: 30px;
}
table td.color .colorCircle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
}